.hidden {
    display: none;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

.buttons, .results {
    flex-grow: 1;
    flex-basis: 0;
}

.buttons {
    display: flex;
    gap: 32px;
    margin: 32px;
    justify-content: center;
}

.buttons button {
    flex-grow: 1;
    flex-basis: 0;
}

.resetButtonWrapper {
    height: 50px;
    margin-bottom: 25px;
}

* {
    text-align: center;
}

#totalResults {
    font-size: 32px;
    font-weight: bold;
}

h1 {
    font-size: 48px;
}

button {
    background-color: transparent;
    border: 2px solid red;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-transform: uppercase;
}

#reset {
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

#totalResults {
    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-size: 18px;
    margin: 10px;
}

.results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

button {
    cursor: pointer;
}